/Boletim/build/
/Boletim/nbproject/private/
/Boletim/dist/
/IPScanner/nbproject/private/
/InfoIP/nbproject/private/
/InfoIP/build/
/15.Projeto/MVC15/build/
/15.Projeto/MVC15/dist/
/15.Projeto/MVC15/nbproject/private/
/MVC15/build/
/MVC15/dist/
/MVC15/nbproject/private/